/hello/*.swp
/hello/*.html~
/AoiroToDo/css/*.css~
/AoiroToDo/*.html~
/AoiroToDo/*.webapp~
/AoiroToDo/*.swp
/AoiroToDo/js/lib/*.swp
/AoiroToDo/js/lib/*.js~
/AoiroToDo/js/*.js~
/AoiroToDo/*.css~
/AoiroToDo/*.js~
/AoiroBookmark/js/*.js~
